body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    background-color: #1b1b1b;
}

#rizz {
    background-image: url("images/Trunk+Or+Treat+-+Key+Art-01.jpg");
    min-height: 800px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: -10px;
    margin-right: -10px;
}


nav {
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 2px 4px rgba(255, 0, 0, 0.1);
}

.navbar-brand {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}

.nav-link {
    font-size: 20px; /* Increased font size */
    color: #246cb9;
    font-weight: bold; /* Makes the text bold */
    padding: 10px 15px; /* Adds padding for better spacing */
    transition: all 0.3s ease-in-out; /* Smooth transition on hover */
    text-transform: uppercase; /* Capitalizes the text */
}

.nav-link.active {
    color: #1a4d84 !important; /* Slightly darker shade to distinguish the active state */
}

.nav-link:hover {
    background-color: #2275be; /* Adds a subtle background color on hover */
    color: #1a4d84; /* Darker blue on hover */
    border-radius: 5px; /* Rounds the edges for a modern look */
    text-shadow: 1px 1px 2px rgba(0,0,0,0.2); /* Adds a soft text shadow */
}


#cool {
    background-color: #15375c;
}










.section-title {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.section-description {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 40px;
}

.card {
    background-color: #8a7c7c;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgb(224, 217, 217);
    transition: transform 0.3s ease;
}


.card:hover {
    transform: translateY(-5px);
}


.card-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
}


.card-text {
    font-size: 16px;
    line-height: 1.6;
}


footer {
    position: relative;
    margin-top: 50px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #ffffff;
    padding: 20px 0;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}


footer p {
    margin-bottom: 0;
}


.btn-outline-light {
    color: #fff;
    border-color: #fff;
}


.btn-outline-light:hover {
    color: #343a40;
    background-color: #fff;
}












.section {
    min-height: 80vh;
    display: flex;
    align-items: center;
}












 /* Centering the header */
 .section-title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

/* Styling the button */
.more-info-btn {
    background-color: #583d19;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.more-info-btn:hover {
    background-color: #3f2c12;
    ;
}

/* Event description styling */
.event-description {
    margin-top: 10px;
    font-size: 14px;
    color: #333;
}